{% extends 'base.html.twig' %}

{% block title %}Aviso Legal{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %}

<section class="relative isolate overflow-hidden bg-white px-6 lg:px-8 mb-12">
    <div class="absolute inset-0 -z-10 bg-[radial-gradient(45rem_50rem_at_top,theme(colors.indigo.100),white)] opacity-20"></div>
    <div class="absolute inset-y-0 right-1/2 -z-10 mr-16 w-[200%] origin-bottom-left skew-x-[-30deg] bg-white shadow-xl shadow-indigo-600/10 ring-1 ring-indigo-50 sm:mr-28 lg:mr-0 xl:mr-16 xl:origin-center"></div>
    <div class="mx-auto max-w-2xl lg:max-w-4xl">
<h1  class="text-3xl font-bold tracking-tight text-gray-900">Aviso Legal</h1>

<p><em>Fecha de última actualización: [Fecha]</em></p>

<h2 class="text-2xl font-bold tracking-tight text-gray-900">1. Introducción</h2>

<p>Este sitio web es propiedad de [Nombre de tu empresa o sitio web] ("nosotros", "nuestro" o "el sitio") y está sujeto a las siguientes condiciones de uso. Al acceder y utilizar este sitio web, acepta cumplir con estos términos y condiciones. Si no está de acuerdo con estos términos, le recomendamos que no utilice este sitio.</p>

<h2 class="text-2xl font-bold tracking-tight text-gray-900">2. Propiedad Intelectual</h2>

<p>El contenido de este sitio web, incluyendo textos, imágenes, logotipos y gráficos, está protegido por leyes de derechos de autor. No se permite la reproducción o uso no autorizado de ningún contenido sin permiso.</p>

<h2 class="text-2xl font-bold tracking-tight text-gray-900">3. Enlaces Externos</h2>

<p>Este sitio web puede contener enlaces a sitios web de terceros. No somos responsables del contenido, la precisión o la legalidad de estos sitios enlazados. La inclusión de enlaces externos no implica nuestro respaldo o afiliación con los sitios enlazados.</p>

<h2 class="text-2xl font-bold tracking-tight text-gray-900">4. Renuncia de Responsabilidad</h2>

<p>La información proporcionada en este sitio web tiene fines informativos. No garantizamos la precisión o integridad de la información y no asumimos responsabilidad por el uso que pueda hacerse de la misma.</p>

<h2 class="text-2xl font-bold tracking-tight text-gray-900">5. Modificaciones del Aviso Legal</h2>

<p>Nos reservamos el derecho de modificar este Aviso Legal en cualquier momento. Le recomendamos revisar periódicamente esta página para estar al tanto de las actualizaciones. Su uso continuado del sitio después de cualquier cambio constituye su aceptación de los nuevos términos.</p>

<h2 class="text-2xl font-bold tracking-tight text-gray-900">6. Contacto</h2>

<p>Si tiene alguna pregunta o inquietud acerca de este Aviso Legal, por favor contáctenos a través de está página de <a class="text-purple-700" href="/contacto/"> Contacto </a>.</p>


    </div>
</section>



{% endblock %}