{% extends 'base.html.twig' %}

{% block title %}Aviso Legal{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %}

    <section class="relative isolate overflow-hidden bg-white px-6 lg:px-8 mb-12">
        <div class="absolute inset-0 -z-10 bg-[radial-gradient(45rem_50rem_at_top,theme(colors.indigo.100),white)] opacity-20"></div>
        <div class="absolute inset-y-0 right-1/2 -z-10 mr-16 w-[200%] origin-bottom-left skew-x-[-30deg] bg-white shadow-xl shadow-indigo-600/10 ring-1 ring-indigo-50 sm:mr-28 lg:mr-0 xl:mr-16 xl:origin-center"></div>
        <div class="mx-auto max-w-2xl lg:max-w-4xl">

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras luctus, felis eu semper fermentum, lectus nibh fringilla nisl, vitae tempus metus turpis sed tortor. Integer varius consectetur ligula et viverra. Duis ultricies urna tellus, a porttitor nisl fringilla quis. Sed pellentesque ipsum ut pharetra fermentum. Donec eget elit efficitur, vulputate ipsum at, commodo velit. Aliquam aliquam at ipsum vitae suscipit. Donec sollicitudin tellus vitae dolor ullamcorper, non consequat lectus lobortis. In non lectus at mauris sodales porta at quis metus.

            Sed ultricies libero elit, vitae tristique odio posuere eget. Aliquam aliquet, ante in ornare convallis, mi mauris aliquam sem, et feugiat sem nisl tempor felis. Aenean eu augue quis dui finibus luctus. Proin vel ultricies nisl. Nunc tristique consectetur lacus, vel maximus risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tincidunt ante ac sapien lacinia sollicitudin. Nulla facilisi. Suspendisse potenti.

            Curabitur risus ante, vulputate nec nibh ut, tincidunt eleifend nunc. Fusce libero neque, efficitur vel neque sodales, tempor imperdiet eros. Donec eu tempus eros, a efficitur diam. Nullam non dictum sem. Phasellus nisl velit, imperdiet ac elementum in, venenatis id odio. Proin elementum eros vel nulla aliquam, eu volutpat sem ornare. Proin malesuada bibendum facilisis. Morbi nisl libero, faucibus eget semper sit amet, efficitur et metus. In in ipsum at erat mattis ornare. Maecenas bibendum congue molestie. Nam nibh velit, egestas ac felis vitae, eleifend interdum metus. Donec gravida interdum scelerisque. In nulla turpis, egestas nec ornare vel, molestie et turpis. Fusce sit amet arcu ipsum. Mauris ac interdum ipsum, laoreet pulvinar nisi.

            Pellentesque metus nunc, vulputate sit amet erat porttitor, pharetra posuere mi. Maecenas porttitor mi in metus commodo congue. Donec est diam, condimentum feugiat felis non, condimentum posuere tellus. Cras mattis ex sapien, sed efficitur eros tempus vitae. Fusce id ligula molestie, rutrum lectus a, bibendum odio. Cras nunc neque, porttitor vel tempus a, fringilla vitae lacus. In fringilla vehicula metus, ut fringilla ligula tincidunt et. Nunc volutpat ex quis lacus luctus molestie. Aliquam erat volutpat. Nunc gravida tincidunt turpis, sit amet vestibulum nulla egestas eu. Praesent eu dui ac libero fermentum ullamcorper. Vestibulum eu nisl ullamcorper, pellentesque justo in, vehicula mi. Mauris id porta lorem. Quisque maximus magna id vulputate venenatis.

            Quisque hendrerit fermentum sem vitae iaculis. Praesent facilisis tortor sit amet nunc condimentum eleifend. Cras nec lobortis lectus, vitae mattis velit. Fusce vulputate libero id tincidunt fringilla. Praesent lobortis lacus nec arcu cursus, at dictum tortor auctor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque interdum justo ipsum, et vestibulum metus viverra et. Aenean magna elit, rutrum vestibulum ligula eu, luctus vestibulum lacus. Donec vel feugiat felis. Etiam lobortis hendrerit elit, sed pulvinar nisl lacinia in. Suspendisse nec lacus orci. Mauris erat dolor, malesuada eget elit vel, mattis consequat lectus.

        </div>
    </section>



{% endblock %}