{% extends 'base.html.twig' %}

{% block title %}Aviso Legal{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %}

    <section class="relative isolate overflow-hidden bg-white px-6 lg:px-8 mb-12">
        <div class="absolute inset-0 -z-10 bg-[radial-gradient(45rem_50rem_at_top,theme(colors.indigo.100),white)] opacity-20"></div>
        <div class="absolute inset-y-0 right-1/2 -z-10 mr-16 w-[200%] origin-bottom-left skew-x-[-30deg] bg-white shadow-xl shadow-indigo-600/10 ring-1 ring-indigo-50 sm:mr-28 lg:mr-0 xl:mr-16 xl:origin-center"></div>
        <div class="mx-auto max-w-2xl lg:max-w-4xl">

<h1 class="text-3xl font-bold tracking-tight text-gray-900">Política de Privacidad</h1>

<p><em>Fecha de última actualización: [Fecha]</em></p>

<h2 class="text-2xl font-bold tracking-tight text-gray-900">1. Introducción</h2>

<p>Esta Política de Privacidad describe cómo [Nombre de tu empresa o sitio web] ("nosotros", "nuestro" o "el sitio") recopila, utiliza y comparte información personal de los usuarios de nuestro sitio web. Valoramos y respetamos su privacidad y nos comprometemos a proteger sus datos personales de acuerdo con la legislación aplicable.</p>

<h2 class="text-2xl font-bold tracking-tight text-gray-900">2. Información que Recopilamos</h2>

<ol>
    <li>
        <h3>Información Proporcionada por el Usuario</h3>
        <p>Recopilamos información que usted nos proporciona voluntariamente cuando utiliza nuestro sitio web. Esto puede incluir su nombre, dirección de correo electrónico, número de teléfono y otra información relacionada con su restaurante o negocio.</p>
    </li>
    <li>
        <h3>Información Generada Automáticamente</h3>
        <p>También recopilamos información técnica, como direcciones IP, datos de navegación y cookies (consulte nuestra <a href="enlace-a-politica-de-cookies.html">Política de Cookies</a> para obtener más información). Esta información se utiliza para mejorar la funcionalidad de nuestro sitio y la experiencia del usuario.</p>
    </li>
</ol>

<h2 class="text-2xl font-bold tracking-tight text-gray-900">3. Uso de la Información</h2>

<p>Utilizamos la información recopilada para los siguientes fines:</p>

<ul>
    <li>Facilitar la creación y administración de perfiles de restaurantes en nuestro sitio.</li>
    <li>Permitir a los usuarios acceder y utilizar las características del sitio web.</li>
    <li>Comunicarnos con los usuarios y proporcionar asistencia al cliente.</li>
    <li>Mejorar nuestro sitio web y sus servicios.</li>
    <li>Cumplir con las obligaciones legales y reguladoras.</li>
</ul>

<h2 class="text-2xl font-bold tracking-tight text-gray-900">4. Compartir Información con Terceros</h2>

<p>No compartiremos su información personal con terceros, excepto en las siguientes circunstancias:</p>

<ol>
    <li>Con su consentimiento explícito.</li>
    <li>Cuando sea necesario para cumplir con obligaciones legales.</li>
    <li>Para garantizar el funcionamiento y la seguridad de nuestro sitio web, podemos compartir información con proveedores de servicios técnicos y de alojamiento.</li>
</ol>

<h2 class="text-2xl font-bold tracking-tight text-gray-900">5. Seguridad de Datos</h2>

<p>Implementamos medidas de seguridad adecuadas para proteger su información personal contra accesos no autorizados, pérdidas o alteraciones.</p>

<h2 class="text-2xl font-bold tracking-tight text-gray-900">6. Derechos del Usuario</h2>

<p>Usted tiene derechos con respecto a su información personal, incluyendo el derecho de acceder, rectificar o eliminar sus datos. Puede ejercer estos derechos poniéndose en contacto con nosotros a través de esta página de <a class="text-purple-700" href="/contacto/"> Contacto </a>. </p>

<h2 class="text-2xl font-bold tracking-tight text-gray-900">7. Cambios en esta Política de Privacidad</h2>

<p>Nos reservamos el derecho de modificar esta Política de Privacidad en cualquier momento. Le notificaremos sobre cambios sustanciales en la forma en que manejamos la información personal.</p>

<h2 class="text-2xl font-bold tracking-tight text-gray-900">8. Contacto</h2>

<p>Si tiene alguna pregunta o inquietud sobre esta Política de Privacidad, no dude en ponerse en contacto con nosotros a través de esta página <a class="text-purple-700" href="/contacto/"> Contacto </a>.</p>


        </div>
    </section>

{% endblock %}