<h1>Por favor, confirma tu Email</h1>

<p>
    Haz click en el link para confirmar tu email<br><br>
    <a href="{{ signedUrl|raw }}">Confirmar Email</a>.
    Este enlace expirará en {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    ¡Saludos!
</p>
