{% extends 'base.html.twig' %}

{% block title %}Registrate gratuito{% endblock %}

{% block body %}

<section class="flex flex-col md:flex-row h-screen items-center">


  <div class="bg-indigo-600 hidden lg:block w-full md:w-1/2 xl:w-2/3 h-screen">
    <img src="/themes/1/images/bg_1.jpg" alt="" class="w-full h-full object-cover">
  </div>

  <div class="bg-white w-full md:max-w-md lg:max-w-full md:mx-auto md:mx-0 md:w-1/2 xl:w-1/3 h-screen px-6 lg:px-16 xl:px-12
        flex items-center justify-center">

    <div class="w-full h-100">

      {% include '/Includes/flashAlertLoginAndRegister.html.twig' %}

      <h1 class="text-xl md:text-2xl font-bold leading-tight mt-12">Registrate Gratis</h1>


      <form class="mt-6" {{ path('app_register') }} method="post">

        <div>
          <label class="block text-gray-700">Email</label>
          <input type="text"id="email" name="email" placeholder="Enter Email Address" class="w-full px-4 py-3 rounded-lg bg-gray-200 mt-2 border focus:border-blue-500 focus:bg-white focus:outline-none" autofocus autocomplete required>
        </div>

        <div class="mt-4">
          <label class="block text-gray-700">Contraseña (6 caracteres, una letra mayúscula y un número)</label>
          <input type="password" id="plainPassword" name="plainPassword" placeholder="Introduzca una contraseña" minlength="6" class="w-full px-4 py-3 rounded-lg bg-gray-200 mt-2 border focus:border-blue-500
                focus:bg-white focus:outline-none" required>
        </div>

        <div class="mt-4">
          <label class="block text-gray-700">Repite  la Contraseña</label>
          <input type="password" id="plainPasswordVerify" name="plainPasswordVerify"  placeholder="Repite la contraseña" minlength="6" class="w-full px-4 py-3 rounded-lg bg-gray-200 mt-2 border focus:border-blue-500
                focus:bg-white focus:outline-none" required>
        </div>

        <div class="text-right mt-2">
            <label class="text-sm font-semibold text-gray-700 hover:text-blue-700 focus:text-blue-700" for="legal">He Leido y Acepto la <a class="text-blue-500 hover:text-blue-700 font-semibold" href="/politica-de-privacidad/">Politica de Privacidad</a></label>
            <input type="checkbox" name="politicaPrivacidad" id="politicaPrivacidad" required>
        </div>

        <input type="hidden" name="token" value="{{ csrf_token('validateTokenSym') }}" />

        <button type="submit" class="w-full block bg-indigo-500 hover:bg-indigo-400 focus:bg-indigo-400 text-white font-semibold rounded-lg
              px-4 py-3 mt-6">Crear cuenta gratis</button>
      </form>

      <hr class="my-6 border-gray-300 w-full">

      <p class="mt-8">¿Ya tienes cuenta creada?<a href="{{ path('app_login') }}" class="text-blue-500 hover:text-blue-700 font-semibold"> Inicia sesión</a></p>


    </div>
  </div>

</section>


{% endblock %}

{% block footer %}
{% endblock %}
