{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <h1>PANEL DE CONTROL</h1>
    <p class="important">
       panel de control
    </p>
{% endblock %}