{% extends 'base.html.twig' %}

{% block title %}Panel de control, edita, crea, modifica tu Local{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %}

{% include '/Panel/Sections/Components/flashAlert.html.twig' %}

<div class="bg-white mb-16">
  <div class="mx-auto grid max-w-2xl grid-cols-1 items-center gap-x-8 gap-y-16 px-4 sm:px-6 lg:max-w-7xl lg:grid-cols-2 lg:px-8">
    <div class="mb-auto">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Edita toda la Información de tu Local</h2>

      <dl class="mt-16 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8">

      <a href="{{ path('panel-edit-information', {'local': local.id }) }}">
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Editar Información del Local</dt>
          <dd class="mt-2 text-sm text-gray-500">En el panel de control puedes modificar la configuración de tu Local, la información, añadir, editar y borrar menus.</dd>
        </div>
      </a>

      <a href="{{ path('cuenta-usuario') }}">
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Cuenta de usuario</dt>
          <dd class="mt-2 text-sm text-gray-500">Gestiona la contraseña de tu cuenta.</dd>
        </div>
      </a>

      </dl>
    </div>
    <div class="grid grid-cols-2 grid-rows-3 gap-4 sm:gap-6 lg:gap-8">
      <img src="/common/plantilla-1.PNG" alt="Walnut card tray with white powder coated steel divider and 3 punchout holes." class="rounded-lg bg-gray-100">
      <img src="/common/plantilla-2.PNG" alt="Top down view of walnut card tray with embedded magnets and card groove." class="rounded-lg bg-gray-100">
      <img src="/common/plantilla-3.PNG" alt="Side of walnut card tray with card groove and recessed card area." class="rounded-lg bg-gray-100">
      <img src="/common/plantilla-4.PNG" alt="Walnut card tray filled with cards and card angled in dedicated groove." class="rounded-lg bg-gray-100">
    </div>
  </div>
</div>


{% endblock %}