{% extends 'base.html.twig' %}

{% block title %}Verificar Email{% endblock %}

{% block body %}

<section class="flex flex-col md:flex-row h-screen items-center">


  <div class="bg-indigo-600 hidden lg:block w-full md:w-1/2 xl:w-2/3 h-screen">
    <img src="https://source.unsplash.com/random" alt="" class="w-full h-full object-cover">
  </div>

  <div class="bg-white w-full md:max-w-md lg:max-w-full md:mx-auto md:mx-0 md:w-1/2 xl:w-1/3 h-screen px-6 lg:px-16 xl:px-12
        flex items-center justify-center">

    <div class="w-full h-100">

      {% include '/Includes/flashAlertLoginAndRegister.html.twig' %}

      <h1 class="text-xl md:text-2xl font-bold leading-tight mt-12">Verificar Email</h1>
        <p>No has verificado tu email, revisa tu buzón o reenvia un nuevo código de verificación si lo necesitas.</p>

      <form class="mt-6" {{ path('app_verify_email') }} method="post">

        <div>
          <label class="block text-gray-700">Email</label>
         <input readonly="text" type="text" id="emailParaRecuperarContrasena" name="emailParaRecuperarContrasena" value="{{ userEmail }}" class="w-full px-4 py-3 rounded-lg bg-gray-200 mt-2 border focus:border-blue-500 focus:bg-white focus:outline-none">
        </div>

        <input type="hidden" name="token" value="{{ csrf_token('validateTokenSym') }}" />
        <button type="submit" class="w-full block bg-indigo-500 hover:bg-indigo-400 focus:bg-indigo-400 text-white font-semibold rounded-lg
              px-4 py-3 mt-6">Reenvíar código al Email
        </button>

      </form>

    </div>
  </div>

</section>


{% endblock %}

{% block footer %}
{% endblock %}
