<div class="bg-white pb-24 sm:pb-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="text-base font-semibold leading-7 text-indigo-600">Crea tu menú online gratis</h2>
      <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Todo lo que necesites para compartir con tus clientes.</p>
      <p class="mt-6 text-lg leading-8 text-gray-600">Con nuestra web podrás crear la presentación de tu menu y productos. Podrás elegir los diseños que más se adapte a tu local, añadir la información más importante. </p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
      <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6 text-white">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
              </svg>
            </div>
          <h3>Crea tus Menús</h3>
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">Crea los Menús de tu Local, con su titulo, precio, descripción y foto si lo necesitas.</dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6 text-white">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
              </svg>
            </div>
          <h3> Añade Productos</h3>
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">Puedes añadir los Productos a los Menús creados, o bien si lo necesitas, dejalo suelto sin Menú.</dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6 text-white">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
              </svg>
            </div>
           <h3>Configura las opciones de tu Local</h3>
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">Puedes decidir si mostrar el formulario de contacto, ocultar el mapa de google, el horario, cambiar la Url de tu Local, etc.</dd>
        </div>
        <div class="relative pl-16">
          <dt class="text-base font-semibold leading-7 text-gray-900">
            <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-6 w-6 text-white">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
              </svg>
            </div>
            <h3>Escoge una plantilla para tu Local gratis</h3>
          </dt>
          <dd class="mt-2 text-base leading-7 text-gray-600">Tienes a tu disposición plantillas que se ajusten al estilo de tu Local, con el tiempo iremos añadiendo más.</dd>
        </div>
      </dl>
    </div>
  </div>
</div>
