<!DOCTYPE html>
<html>
{% block head %}
<head>
<script src="https://cdn.tailwindcss.com"></script>
<title>{% block title %}{% endblock %} - My Webpage</title>
</head>
{% endblock %}

<body>

{% block menuHeader %}
    {% if app.request.pathinfo not in ['/login', '/registro', '/'] %}
        {% include '/Includes/menuHeader.html.twig' %}
    {% endif %}
{% endblock %}

<div id="body">{% block body %}{% endblock %}</div>

{% block footer %}
<div id="footer">
    {% include '/Includes/footer.html.twig' %}
</div>
{% endblock %}
</body>
</html>