<!DOCTYPE html>
<html>
{% block head %}
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://cdn.tailwindcss.com"></script>
<title>{% block title %}{% endblock %} - My Webpage</title>
</head>
{% endblock %}

<body>

{% block menuHeader %}
    {% if app.request.pathinfo not in ['/login', '/registro', '/'] %}
        {% include '/Includes/menuHeader.html.twig' %}
    {% endif %}
{% endblock %}

<div id="body">{% block body %}{% endblock %}</div>

{% block footer %}

{% set route = app.request.attributes.get('_route') %}

<div id="footer">
    {% include '/Includes/footer.html.twig' %}
</div>

{% include '/Panel/Sections/JsComponents/showPhotosReviewOnForm.html.twig' %}

{% if 'panel-new-menu' == route %}
    {% include '/Panel/Sections/JsComponents/preventFormEmptyOnNewMenu.html.twig' %}
{% endif %}


{% endblock %}
</body>
</html>