<!DOCTYPE html>
<html>
{% block head %}
<head>
<script src="https://cdn.tailwindcss.com"></script>
<title>{% block title %}{% endblock %} - My Webpage</title>
</head>
{% endblock %}

<body>

{% block menuHeader %}
    {% if app.request.pathinfo not in ['/login', '/registro', '/'] %}
        {% include '/Includes/menuHeader.html.twig' %}
    {% endif %}
{% endblock %}

<div id="body">{% block body %}{% endblock %}</div>

{% block footer %}
<div id="footer">
    {% include '/Includes/footer.html.twig' %}
</div>

<script>

const imagesContainer = document.querySelector('.imagesToUpload');
const fileInput = document.getElementById('file-upload');

fileInput.addEventListener('change', function(event) {
    readURL(this);
});

function readURL(input) {
    if (input.files && input.files[0]) {
        Array.from(input.files).forEach(function(file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                const imgElement = document.createElement('img');
                imgElement.src = e.target.result;

                const removeButton = document.createElement('button');
                removeButton.textContent = 'Quitar Foto';
                removeButton.className = 'remove-button'; // Agregar la clase para el estilo
                removeButton.addEventListener('click', function() {
                    imagesContainer.removeChild(imgElement);
                    imagesContainer.removeChild(this);
                });

                imagesContainer.appendChild(imgElement);
                imagesContainer.appendChild(removeButton);
            }
            reader.readAsDataURL(file);
        });
    }
}


</script>

{% endblock %}
</body>
</html>