<!DOCTYPE html>
<html>
{% block head %}
<head>
<script src="https://cdn.tailwindcss.com"></script>
<title>{% block title %}{% endblock %} - My Webpage</title>
</head>
{% endblock %}
<body>
    
<div id="content">{% block content %}{% endblock %}</div>

<div id="footer">
{% block footer %}
&copy; Copyright 2022 by <a href="/">you</a>.
{% endblock %}
</div>
</body>
</html>