<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>XXXX</title>  
<meta name="description" content="XXXXX">
<meta name="author" content="XXXXX">
<link data-ue-c="href" data-ue-u="canonical" rel="canonical" Href="{{ app.request.schemeAndHttpHost }}"/>
<meta name="robots" content="index,follow,max-image-preview:large"/>
<meta name="keywords" content=""/>
<!-- Favicons -->
<link href="themes/5/assets/img/favicon.png" rel="icon">
<link href="themes/5/assets/img/apple-touch-icon.png" rel="apple-touch-icon">