<h1>Por favor, si desea dar de baja su cuenta haga click en el enlace.</h1>

<p>
    Haz click en el link para <br><br>
    <a href="{{ deleteAccount|raw }}">Borrar su cuenta</a>.
</p>

<p>
    Un cordial saludo.
</p>
