<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{{ content.local.descripcionLocal }} | {{ content.local.nombreLocal }}</title>  
<meta name="description" content="{{ content.informationForLocal.descripcion }}">
<meta name="author" content="">
<meta data-ue-u="keywords" name="keywords" content="sssss"/>
<link data-ue-c="href" data-ue-u="canonical" rel="canonical" Href="ssss"/>
<meta name="robots" content="index,follow,max-image-preview:large"/>
<meta name="author" content="ss">
